@using Azure.Messaging.ServiceBus
@using System.Text
@using System.Security.Cryptography


<tr class="message">
    <td class="expansion-cell">
        <button @onclick=ToggleExpand>Expand</button>
    </td>
    <td>
        @Message.Subject
    </td>
    <td class="Id">
        <div>@Message.Id</div>
    </td>
    <td>
        @Message.FirstEnqueuedTime
    </td>
    <td>
        @Message.DeadLetterReason
    </td>
    <td>
        @Message.Attempts.Count attempts
    </td>
    <td>
        <ResubmitButton Message=Message></ResubmitButton>
    </td>
</tr>
@if (IsExpanded)
{
    <tr>
        <th class="visually-hidden"></th>
        <th colspan="3">
            Body
        </th>
        <th>Dead letter reason</th>
        <th>Sequence number</th>
        <th>Enqueued</th>
    </tr>
    @foreach (var attempt in Message.Attempts)
    {
        <tr>
            <td class="visually-hidden"></td>
            <td colspan="3">
                <pre>@attempt.Body</pre>
            </td>
            <td>@attempt.DeadLetterReason</td>
            <td>@attempt.SequenceNumber</td>
            <td>@attempt.EnqueuedTime.ToLocalTime().ToString("g")</td>
        </tr>
    }
}

@code {
    private bool IsExpanded = false;

    private int _attemptIndex = 0;

    [Parameter]
    public IntegrationMessage Message { get; set; } = null!;

    [Inject]
    IntegrationMessageService Service { get; set; } = null!;

    void ToggleExpand()
    {
        IsExpanded = !IsExpanded;
    }
}
